@media all and (min-width: 480px) {
  .ChangePassword {
    padding: 60px 0;
  }

  .ChangePassword form {
    margin: 0 auto;
    max-width: 320px;
  }

  .ChangePassword .changepassword-form {
    max-width: 300px;
  }
  .ChangePassword .changepassword-form-button {
    width: 100%;
  }
}
