@media all and (min-width: 480px) {

    .ResetPassword .success {
        max-width: 400px;
    }

    .ResetPassword .confirmation-form {
        margin: 0 auto;
        max-width: 320px;
    }
    .ResetPassword .confirmation-form-button {
        width: 100%;
    }

    .ResetPassword .success {
        margin: 0 auto;
        text-align: center;
    }
}