.App {
  margin-top: 15px;
}

.navbar{
  padding: 10px 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: hidden;
  box-shadow: 0 0 30px #f3f1f1;
  height: 59px;
}

.logo{
  width: 150px;
  float: left;
}
.logo a{
  display: inline-block;
  font-size: 20px;
  padding: 9px 20px;
  text-transform: capitalize;
}
